/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
}

h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#main_nav{
    text-align: center;
}

#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#main_nav a:hover{
    background: #ddddff;
}

#main_content {
  background-color: #ddffff;
      padding: 14px;
}

#sidebar_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    height: 577px;
}

#sidebar_content div {
background-color: #ffffdd;
    padding: 14px;
}

footer {
  background-color: #ffffdd;
}

#site_footer nav {
    display: flex;
    justify-content: space-around;
}












/*  =======  Media Queries ======= */

@media screen and (min-width: 600px) {

  #site_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 746px;

  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main_nav {

      text-align: center;
      display: flex;
      justify-content: space-around;
      width: 100%;


}

#main_nav a {
  width: 27%;
}

#sidebar_content {
  flex-direction: row;
      height: 200px;
}

#sidebar_content div {
  flex: 1;

}

footer {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#site_footer nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

}

@media screen and (min-width:1100px) {

  header {
    flex-direction: row;
  }

  #logo {
    flex: 1;
    flex-basis: 50%;
  }

  #main_nav {
    flex: 1;
      flex-basis: 50%;
      justify-content: space-around;
  }

  #main_content {
  display: flex;
  }

  #main_content div {
    flex-basis: 50%;
}

#main_content div:nth-child(1) {
  flex:2;
}

#main_content div:nth-child(2) {
  flex:1
}
}
